
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    
}

body {
    background-color: #000000;  
    color: #f6f6f6; 
    height: 100vh;
    box-sizing: border-box;
}

.titulo-destaque {
    color: #22d4fd;
}

.presentacion {
    display: flex;
    align-items: center;
    margin: 5%;
    justify-content: space-between;
}

.presentacion__texto {
    width: 615;
}

.presentacion__texto__titulo{
    font-size: 36px;
    font-family: krona one, sans-serif

}

.presentacion__texto__descripcion{
    font-size: 24px;
    font-family: montserrat, sans-serif ;
}

.presentacion__botones {
    display: flex;
    justify-content: space-between;
}